<a href="https://colab.research.google.com/github/jonataneklof2025/Python-for-data-analys-youtube-kurs/blob/main/1_Getting_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Simple test of calculations
2+2
8*4

32

In [ ]:
!ls

sample_data

In [ ]:
salary = 100000

In [ ]:
base_salary = 100000
bonus_rate = .10

In [ ]:
total_salary = (base_salary) * (1 + bonus_rate)

In [ ]:
total_salary

110000.00000000001

Note that variable names can't have spaces in them, such as min lön =, needs to be minlön or min_lön

In [ ]:
type(salary)

int

To delete defined objects, type: del object

Strings

In [ ]:
skill = "Python"

In [ ]:
skill.upper()

'PYTHON'

In [ ]:
skill.lower()

'python'

In [ ]:
skill.replace("P", "J")

'Jython'

In [ ]:
job_title = "Data Analyst"

In [ ]:
job_title  = job_title.replace("Data", "Doto")

In [ ]:
job_title.split(sep = " ", maxsplit=1)

['Doto', 'Analyst']

String Formating

In [ ]:
role = ' Data Analyst'

In [ ]:
skill = 'Python'

inside the parenthesis below you specify what you want in the curly braces the to the left

In [ ]:
"Role: {}".format(role)

'Role:  Data Analyst'

In [ ]:
"Role {}; Skill Required: {}".format(role, skill)

'Role  Data Analyst; Skill Required: Python'

Method below with f is same as format above

In [ ]:
f"Role: {role}; Skill Required: {skill}"

'Role:  Data Analyst; Skill Required: Python'

In [ ]:
year_experience = '0123456789'
', '.join(year_experience)

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9'

Operators

In [ ]:
apa = "apa"

In [ ]:
lover = "lover"

In [ ]:
apa_lover = apa.__add__(lover)

In [ ]:
apa_lover

'apalover'

In [ ]:
x = 1

In [ ]:
x +=1

In [ ]:
x

2

In [ ]:
x +=8

In [ ]:
x

10

Note that += means that we want to add to x the value right of equal sign

In [ ]:
x += -8

In [ ]:
x

2

In [ ]:
y = 87

In [ ]:
x<=y

True

In [ ]:
x==y

False

Conditional statements

In [ ]:
if True:
  print("What's up Data Nerds")

What's up Data Nerds

In [ ]:
applicant_skill = 'Python'
job_skill = 'SQL'

In [ ]:
if job_skill == applicatn_skill:
  print('Skills Match')

Skills Match

Else below is what we want if the previous conditionals are false

In [ ]:
year_experience = 3

if job_skill == applicant_skill:
  print('Skills Match')
elif year_experience >= 5:
  print('Enough Experience; No SQL')
else:
  print('No Skill or Experience')

No Skill or Experience

Lists

In [ ]:
job_skills = ['sql', 'tableau', 'excel']

In [ ]:
job_skills.append('python')

In [ ]:
job_skills

['sql', 'tableau', 'excel', 'python']

In [ ]:
job_skills.remove('tableau')

In [ ]:
job_skills

['sql', 'excel', 'python']

In [ ]:
len(job_skills)

3

In [ ]:
job_skills[2]

'python'

In [ ]:
job_skills.insert(2, 'tablaeu')

In [ ]:
job_skills

['sql', 'excel', 'tablaeu', 'python']

Note that for lists when we want to select or modify specific entries the first index is 0, then 1....

In [ ]:
job_skills[0:2]

['sql', 'tableau']

Note that lline above the 2 inside[]is not included, i.e need to do from 0 to 3 to get all three

In [ ]:
skill1, skill2, skill3 = job_skills

In [ ]:
print(skill1)

sql

 DICTIONARIES

In [ ]:
job_type_skills = {'database': 'postgresql',
                   'language': 'python',
                   'library': 'pandas'}

In [ ]:
job_type_skills

{'database': 'postgresql', 'language': 'python', 'library': 'pandas'}

In [ ]:
job_type_skills['database']

'postgresql'

In [ ]:
job_type_skills.keys()

dict_keys(['database', 'language', 'library'])

SETS

In [ ]:
job_skills = {'tablaeu', 'sql', 'python', 'statistics'}

In [ ]:
job_skills

{'python', 'sql', 'statistics', 'tablaeu'}

In [ ]:
job_skills.add('looker')

In [ ]:
job_skills

{'looker', 'python', 'sql', 'statistics', 'tablaeu'}

In [ ]:
job_skills.remove('tablaeu')

In [ ]:
job_skills

{'looker', 'python', 'sql', 'statistics'}

OPERATORS PART 2

In [ ]:
job_work_from_home = True
job_health_insurance = True

job_work_from_home and job_health_insurance

True

In [ ]:
job_work_from_home = True
job_health_insurance = False

job_work_from_home or job_health_insurance

True

In [ ]:
not True

False

In [ ]:
"Data" in "Data Nerd"

True

In [ ]:
job_skills = ['python', 'r', 'sql']

In [ ]:
'python' in job_skills

True

In [ ]:
job_skills is job_skills

True

 LOOPS

In [1]:
numbers = [0, 1, 2, 3, 4, 5]

for number in numbers:
  print(number)

0
1
2
3
4
5

In [3]:
numbers = [0, 1, 2, 3, 4, 5]

for number in numbers:
  print(number)

0
1
2
3
4
5

In [4]:
count = 1
while count < 5:
  print(count)
  count += 1

1
2
3
4

In [7]:
years_experience = {
    'Luke': 3,
    'kelly': 6,
    'Ken': 4,
    'Alex': 3,
    'Mary': 7
}

years = 0
index = 0

years_list = list(years_experience.items())
while years < 5:
  key, years = years_list[index]
  if years >=5:
    print(key, years)
  index += 1

kelly 6

FUNCTIONS

In [20]:
base_salary = 100000
bonus_rate = 0.1

def calculate_salary(base_salary, bonus_rate=0.1):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [22]:
calculate_salary(100000)

110000.00000000001

Start at Lambda