<a href="https://colab.research.google.com/github/jonataneklof2025/Python-for-data-analys-youtube-kurs/blob/main/1_Getting_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Simple test of calculations
2+2
8*4

32

In [15]:
!ls

sample_data

In [18]:
salary = 100000

In [21]:
base_salary = 100000
bonus_rate = .10

In [28]:
total_salary = (base_salary) * (1 + bonus_rate)

In [29]:
total_salary

110000.00000000001

Note that variable names can't have spaces in them, such as min lön =, needs to be minlön or min_lön