<a href="https://colab.research.google.com/github/jonataneklof2025/Python-for-data-analys-youtube-kurs/blob/main/pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CODE BELOW IS BASED ON PRACTICE PROBLEMS FROM CHAT GPT
  Each section is from data analytics youtube course

# Variables

In [ ]:
name = "Jonatan Eklöf"
age = 24
print(name, age)

Jonatan Eklöf 24

In [ ]:
a = 5
b = 10

In [ ]:
temp = a

In [ ]:
a = b

In [ ]:
b = temp

In [ ]:
print(a, b)

10 5

In [ ]:
greeting = "Hello"
place = "World"

In [ ]:
print(greeting, place)

Hello World

In [ ]:
year_of_birth = 2000
current_year = 2025

In [ ]:
users_age = current_year - year_of_birth

In [ ]:
print(users_age)

25

#Data Types

In [ ]:
sales_2023 = 50000
growth_rate = 0.08

sales_2023 * (1 + growth_rate)

54000.0

In [ ]:
sales = 15000
is_profitable = sales > 10000
print("The Business is profitable:", is_profitable)

The Business is profitable: True

In [ ]:
sales_per_month = [1200, 1500, 1700, 1600, 2000]

In [ ]:
#Total sales
sum(sales_per_month)

8000

In [ ]:
#Highest sales month
max(sales_per_month)

2000

In [ ]:
sales_data = {"Laptop": 150, "Tablet": 200, "Phone": 500}

In [ ]:
sales_data["Tablet"]

200

In [ ]:
sales_data.update({"Smartwatch": 100})

In [ ]:
sales_data

{'Laptop': 150, 'Tablet': 200, 'Phone': 500, 'Smartwatch': 100}

#Strings

In [1]:
name = "Alice"
age = 25

print(f"{name} is {age} years old")

Alice is 25 years old

In [2]:
num1 = 15
num2 = 7

print(f"Sum: {num1 + num2}, difference: {num1 - num2} ")

Sum: 22, difference: 8

In [4]:
price = 49.99
print(f"The product costs: ${price: .2f}")

The product costs: $ 49.99

Laptop costs $ 999.99
phone costs $ 699.49
Tablet costs $ 399.99

#Operators

In [6]:
a = 12
b = 5

print(a + b)

17

In [9]:
x = 10
y = 3
#Below prints x^y
print(x ** y)

1000

In [10]:
original_price = 120
discount = 20

print(original_price *(1 - discount/100))

96.0

In [11]:
x = 7
y = 15

#Conditional Statements

In [1]:
number = int(input("Enter a number: "))  # Use a different name instead of 'int'

if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: -7
Negative

In [2]:
score = int(input("Enter your score:"))

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")

Enter your score:87
Grade: B

In [4]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Step 2: Use conditional statements to determine the largest number
if num1 >= num2 and num1 >= num3:
    print(f"The largest number is {num1}")
elif num2 >= num1 and num2 >= num3:
    print(f"The largest number is {num2}")
else:
    print(f"The largest number is {num3}")

Enter the first number: 1
Enter the second number: 2
Enter the third number: 8
The largest number is 8.0

#Lists