<a href="https://colab.research.google.com/github/jonataneklof2025/Python-for-data-analys-youtube-kurs/blob/main/pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CODE BELOW IS BASED ON PRACTICE PROBLEMS FROM CHAT GPT
  Each section is from data analytics youtube course

# Variables

In [ ]:
name = "Jonatan Eklöf"
age = 24
print(name, age)

Jonatan Eklöf 24

In [ ]:
a = 5
b = 10

In [ ]:
temp = a

In [ ]:
a = b

In [ ]:
b = temp

In [ ]:
print(a, b)

10 5

In [ ]:
greeting = "Hello"
place = "World"

In [ ]:
print(greeting, place)

Hello World

In [ ]:
year_of_birth = 2000
current_year = 2025

In [ ]:
users_age = current_year - year_of_birth

In [ ]:
print(users_age)

25

#Data Types

In [ ]:
sales_2023 = 50000
growth_rate = 0.08

sales_2023 * (1 + growth_rate)

54000.0

In [ ]:
sales = 15000
is_profitable = sales > 10000
print("The Business is profitable:", is_profitable)

The Business is profitable: True

In [ ]:
sales_per_month = [1200, 1500, 1700, 1600, 2000]

In [ ]:
#Total sales
sum(sales_per_month)

8000

In [ ]:
#Highest sales month
max(sales_per_month)

2000

In [ ]:
sales_data = {"Laptop": 150, "Tablet": 200, "Phone": 500}

In [ ]:
sales_data["Tablet"]

200

In [ ]:
sales_data.update({"Smartwatch": 100})

In [ ]:
sales_data

{'Laptop': 150, 'Tablet': 200, 'Phone': 500, 'Smartwatch': 100}

#Strings

In [ ]:
name = "Alice"
age = 25

print(f"{name} is {age} years old")

Alice is 25 years old

In [ ]:
num1 = 15
num2 = 7

print(f"Sum: {num1 + num2}, difference: {num1 - num2} ")

Sum: 22, difference: 8

In [ ]:
price = 49.99
print(f"The product costs: ${price: .2f}")

The product costs: $ 49.99

Laptop costs $ 999.99
phone costs $ 699.49
Tablet costs $ 399.99

#Operators

In [ ]:
a = 12
b = 5

print(a + b)

17

In [ ]:
x = 10
y = 3
#Below prints x^y
print(x ** y)

1000

In [ ]:
original_price = 120
discount = 20

print(original_price *(1 - discount/100))

96.0

In [ ]:
x = 7
y = 15

#Conditional Statements

In [ ]:
number = int(input("Enter a number: "))  # Use a different name instead of 'int'

if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: -7
Negative

In [ ]:
score = int(input("Enter your score:"))

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")

Enter your score:87
Grade: B

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Step 2: Use conditional statements to determine the largest number
if num1 >= num2 and num1 >= num3:
    print(f"The largest number is {num1}")
elif num2 >= num1 and num2 >= num3:
    print(f"The largest number is {num2}")
else:
    print(f"The largest number is {num3}")

Enter the first number: 1
Enter the second number: 2
Enter the third number: 8
The largest number is 8.0

#Lists

In [ ]:
numbers = [10, 20, 30, 40, 50]

print(sum(numbers))
print(max(numbers))
print(min(numbers))
numbers.append(87)
numbers
numbers.pop(0)
numbers

150
50
10

[20, 30, 40, 50, 87]

In [ ]:
new_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(new_numbers[0:3])
print(new_numbers[6:9])

[1, 2, 3]
[7, 8, 9]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

#Dictionaries

In [ ]:
dictionary = {"name": "Alice", "age": 25, "city": "New York"}
print(dictionary)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
print(dictionary["name"])

Alice

In [ ]:
dictionary.update({"job": "Engineer"})
print(dictionary)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

In [ ]:
dictionary.update({"city": "Los Angeles"})
print(dictionary)

{'name': 'Alice', 'age': 25, 'city': 'Los Angeles', 'job': 'Engineer'}

In [ ]:
if "age" in dictionary:
    print("Key Exists")

Key Exists

In [ ]:
for i in dictionary:
  print(i)
  print(dictionary[i])

name
Alice
age
25
city
Los Angeles
job
Engineer

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#OPERATORS PART 2(and, or, is, is not, in, not in)

> Add blockquote

In [ ]:
number = input("Enter a number:")

if number.isdigit() and 10 <= int(number) <= 50:
    print("Number is valid")

else:
    print("Number is invalid")

Enter a number:20
Number is valid

In [ ]:
membership = input("Do you have a membership? (yes/no): ")
age = input("Enter your age")
age = int(age)

if (age >= 18 and membership == "yes") or age >=21:
    print("Allowed")

else:
  print("Not allowed")

Do you have a membership? (yes/no): no
Enter your age29
Allowed

In [ ]:
a = 10
b = 10

a is b

True

In [ ]:
if a is b:
  print("True")

else:
  print("False")

False

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruit_name = input("Enter a fruit name: ")

if fruit_name in fruits:
  print("Yes, it's avaiable")

else:
  print("Not Available")

Enter a fruit name: tomato
Not Available

In [ ]:
password = input("Enter password: ")

if "@" or "#" or "$" or "%" in password:
  print("Strong Password")

else:
  print("Weak Password")

Enter password: ilovemonkeys69@
Strong Password

#LOOPS(while, for)

In [3]:
 for number in range(1, 11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [4]:
total_sum = 0
current_number = 1
number = input("Enter a number: ")

while current_number <= int(number):
  total_sum += current_number
  current_number += 1

  print(total_sum)

Enter a number: 10
1
3
6
10
15
21
28
36
45
55

In [5]:
word = input("Enter a word: ")

for i in word:
  print(i)

Enter a word: jagälskarapor
j
a
g
ä
l
s
k
a
r
a
p
o
r

In [1]:
#Secret number is 8
guess = int(input("Guess the secret number!"))

while guess != 8:
  guess = int(input("Wrong, guess again!"))
  if guess == 8:
    print("Correct!")

Guess the secret number!2
Wrong, guess again!5
Wrong, guess again!8
Correct!

#FUNCTIONS

In [2]:
def summa(a, b):
    print(a + b)

In [4]:
summa(87, 98)

185

In [10]:
def calculate_average(numbers):
  total = sum(numbers)
  return total / len(numbers)

In [12]:
calculate_average([1, 4, 7])

4.0

In [15]:
def count_occurences(data, value):
  return data.count(value)

In [17]:
count_occurences([1, 1, 5, 6, 1], 1)

3

In [22]:
count_occurences(["Apa", "apes", "ape lover"], "Apa")

1

In [31]:
def clean_text(text):
  return text.lower()

In [34]:

clean_text("APES ARE NOT COOL")

'apes are not cool'

In [36]:
clean_text("APES ARE COOL")

'apes are cool'

In [37]:
def convert_to_fahrenheit(celsius_list):
  fahrenheit_list = []
  for celsius in celsius_list:
    fahrenheit = (celsius * 9/5) + 32
    fahrenheit_list.append(fahrenheit)
  return fahrenheit_list

In [39]:
convert_to_fahrenheit([10, 20, 30])

[50.0, 68.0, 86.0]

In [40]:
def most_frequent(data):
  return max(data, key=data.count)

In [43]:
most_frequent([1, 2, 1, 2, 5, 2])

2

In [44]:
def count_missing(data):
  return data.count(None)

In [46]:
count_missing([1, 2, None, 8])

1

In [47]:
def get_unique_values(data):
  return list(set(data))
  #Since set only takes unique values

In [48]:
get_unique_values([1, 2, 1, 4, 4, 6])

[1, 2, 4, 6]