<a href="https://colab.research.google.com/github/jonataneklof2025/Python-for-data-analys-youtube-kurs/blob/main/pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CODE BELOW IS BASED ON PRACTICE PROBLEMS FROM CHAT GPT
  Each section is from data analytics youtube course

# Variables

In [ ]:
name = "Jonatan Eklöf"
age = 24
print(name, age)

Jonatan Eklöf 24

In [ ]:
a = 5
b = 10

In [ ]:
temp = a

In [ ]:
a = b

In [ ]:
b = temp

In [ ]:
print(a, b)

10 5

In [ ]:
greeting = "Hello"
place = "World"

In [ ]:
print(greeting, place)

Hello World

In [ ]:
year_of_birth = 2000
current_year = 2025

In [ ]:
users_age = current_year - year_of_birth

In [ ]:
print(users_age)

25

#Data Types

In [ ]:
sales_2023 = 50000
growth_rate = 0.08

sales_2023 * (1 + growth_rate)

54000.0

In [ ]:
sales = 15000
is_profitable = sales > 10000
print("The Business is profitable:", is_profitable)

The Business is profitable: True

In [ ]:
sales_per_month = [1200, 1500, 1700, 1600, 2000]

In [ ]:
#Total sales
sum(sales_per_month)

8000

In [ ]:
#Highest sales month
max(sales_per_month)

2000

In [ ]:
sales_data = {"Laptop": 150, "Tablet": 200, "Phone": 500}

In [ ]:
sales_data["Tablet"]

200

In [ ]:
sales_data.update({"Smartwatch": 100})

In [ ]:
sales_data

{'Laptop': 150, 'Tablet': 200, 'Phone': 500, 'Smartwatch': 100}

#Strings

In [ ]:
name = "Alice"
age = 25

print(f"{name} is {age} years old")

Alice is 25 years old

In [ ]:
num1 = 15
num2 = 7

print(f"Sum: {num1 + num2}, difference: {num1 - num2} ")

Sum: 22, difference: 8

In [ ]:
price = 49.99
print(f"The product costs: ${price: .2f}")

The product costs: $ 49.99

Laptop costs $ 999.99
phone costs $ 699.49
Tablet costs $ 399.99

#Operators

In [ ]:
a = 12
b = 5

print(a + b)

17

In [ ]:
x = 10
y = 3
#Below prints x^y
print(x ** y)

1000

In [ ]:
original_price = 120
discount = 20

print(original_price *(1 - discount/100))

96.0

In [ ]:
x = 7
y = 15

#Conditional Statements

In [ ]:
number = int(input("Enter a number: "))  # Use a different name instead of 'int'

if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: -7
Negative

In [ ]:
score = int(input("Enter your score:"))

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")

Enter your score:87
Grade: B

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Step 2: Use conditional statements to determine the largest number
if num1 >= num2 and num1 >= num3:
    print(f"The largest number is {num1}")
elif num2 >= num1 and num2 >= num3:
    print(f"The largest number is {num2}")
else:
    print(f"The largest number is {num3}")

Enter the first number: 1
Enter the second number: 2
Enter the third number: 8
The largest number is 8.0

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

# Step 2: Use conditional statements to determine the largest number
if num1 >= num2 and num1 >= num3:
    print(f"The largest number is {num1}")
elif num2 >= num1 and num2 >= num3:
    print(f"The largest number is {num2}")
else:
    print(f"The largest number is {num3}")

Enter the first number: 2
Enter the second number: 9
Enter the third number: 87
The largest number is 87

#Lists

In [ ]:
numbers = [10, 20, 30, 40, 50]

print(sum(numbers))
print(max(numbers))
print(min(numbers))
numbers.append(87)
numbers
numbers.pop(0)
numbers

150
50
10

[20, 30, 40, 50, 87]

In [ ]:
new_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(new_numbers[0:3])
print(new_numbers[6:9])
#Note that the first index of list is 0 and that the number on right hand side of colon is non-inclusive

[1, 2, 3]
[7, 8, 9]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

#Dictionaries

In [ ]:
dictionary = {"name": "Alice", "age": 25, "city": "New York"}
print(dictionary)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
print(dictionary["name"])

Alice

In [ ]:
dictionary.update({"job": "Engineer"})
print(dictionary)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

In [ ]:
dictionary.update({"city": "Los Angeles"})
print(dictionary)

{'name': 'Alice', 'age': 25, 'city': 'Los Angeles', 'job': 'Engineer'}

In [ ]:
if "age" in dictionary:
    print("Key Exists")

Key Exists

In [ ]:
for i in dictionary:
  print(i)
  print(dictionary[i])

name
Alice
age
25
city
Los Angeles
job
Engineer

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#OPERATORS PART 2(and, or, is, is not, in, not in)

> Add blockquote

In [ ]:
number = input("Enter a number:")

if number.isdigit() and 10 <= int(number) <= 50:
    print("Number is valid")

else:
    print("Number is invalid")

Enter a number:20
Number is valid

In [ ]:
membership = input("Do you have a membership? (yes/no): ")
age = input("Enter your age")
age = int(age)

if (age >= 18 and membership == "yes") or age >=21:
    print("Allowed")

else:
  print("Not allowed")

Do you have a membership? (yes/no): no
Enter your age29
Allowed

In [ ]:
a = 10
b = 10

a is b

True

In [ ]:
if a is b:
  print("True")

else:
  print("False")

False

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruit_name = input("Enter a fruit name: ")

if fruit_name in fruits:
  print("Yes, it's avaiable")

else:
  print("Not Available")

Enter a fruit name: tomato
Not Available

In [ ]:
password = input("Enter password: ")

if "@" or "#" or "$" or "%" in password:
  print("Strong Password")

else:
  print("Weak Password")

Enter password: ilovemonkeys69@
Strong Password

#LOOPS(while, for)

In [ ]:
 for number in range(1, 11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
total_sum = 0
current_number = 1
number = input("Enter a number: ")

while current_number <= int(number):
  total_sum += current_number
  current_number += 1

  print(total_sum)

Enter a number: 10
1
3
6
10
15
21
28
36
45
55

In [ ]:
word = input("Enter a word: ")

for i in word:
  print(i)

Enter a word: jagälskarapor
j
a
g
ä
l
s
k
a
r
a
p
o
r

In [ ]:
#Secret number is 8
guess = int(input("Guess the secret number!"))

while guess != 8:
  guess = int(input("Wrong, guess again!"))
  if guess == 8:
    print("Correct!")

Guess the secret number!2
Wrong, guess again!5
Wrong, guess again!8
Correct!

#FUNCTIONS

In [ ]:
def summa(a, b):
    print(a + b)

In [ ]:
summa(87, 98)

185

In [ ]:
def calculate_average(numbers):
  total = sum(numbers)
  return total / len(numbers)

In [ ]:
calculate_average([1, 4, 7])

4.0

In [ ]:
def count_occurences(data, value):
  return data.count(value)

In [ ]:
count_occurences([1, 1, 5, 6, 1], 1)

3

In [ ]:
count_occurences(["Apa", "apes", "ape lover"], "Apa")

1

In [ ]:
def clean_text(text):
  return text.lower()

In [ ]:

clean_text("APES ARE NOT COOL")

'apes are not cool'

In [ ]:
clean_text("APES ARE COOL")

'apes are cool'

In [ ]:
def convert_to_fahrenheit(celsius_list):
  fahrenheit_list = []
  for celsius in celsius_list:
    fahrenheit = (celsius * 9/5) + 32
    fahrenheit_list.append(fahrenheit)
  return fahrenheit_list

In [ ]:
convert_to_fahrenheit([10, 20, 30])

[50.0, 68.0, 86.0]

In [ ]:
def most_frequent(data):
  return max(data, key=data.count)

In [ ]:
most_frequent([1, 2, 1, 2, 5, 2])

2

In [ ]:
def count_missing(data):
  return data.count(None)

In [ ]:
count_missing([1, 2, None, 8])

1

In [ ]:
def get_unique_values(data):
  return list(set(data))
  #Since set only takes unique values

In [ ]:
get_unique_values([1, 2, 1, 4, 4, 6])

[1, 2, 4, 6]

#MODULES

Basically, you can create seperate textfiles where you can have saved functions and then use the import command to import those functions

Essentially like a package in R

In [ ]:
salary_list = [1929, 1223, 129921, 129]

In [ ]:
import statistics

statistics.mean(salary_list)
statistics.median(salary_list)

1576.0

In [ ]:
import math


number = input("Enter a number")

print(math.sqrt(int(number)))

Enter a number4
2.0

In [ ]:
import random

random_number = random.randint(1, 100)
print(random_number)

33

In [ ]:
number2 = input("Enter a number: ")
print(math.factorial(int(number2)))

Enter a number: 3
6

In [ ]:
numbers = [10, 20, 30, 40, 50]

print(statistics.stdev(numbers))

15.811388300841896

#CLEANING DATA

In [ ]:
#Practice problem on cleaning and analyzing data
from datetime import datetime

employee_salaries = [
    {"employee_id": 1, "name": " Alice Johnson ", "department": "Finance", "salary": "$70,000", "hire_date": "2020/05/10"},
    {"employee_id": 2, "name": "bob smith", "department": "HR", "salary": "60000", "hire_date": "2021-06-15"},
    {"employee_id": 3, "name": "Charlie Brown", "department": "IT", "salary": "$80,500", "hire_date": "15-07-2019"},
    {"employee_id": 4, "name": "Daniel Lee", "department": "Finance", "salary": "72000$", "hire_date": "2022/08/20"},
    {"employee_id": 5, "name": "Eve Adams", "department": " it ", "salary": "$90000", "hire_date": "2020-09-05"},
    {"employee_id": 6, "name": "Frank Miller", "department": "HR", "salary": "$55,000", "hire_date": "2018-10-12"},
    {"employee_id": 7, "name": "grace davis", "department": "Finance", "salary": "", "hire_date": "2019/11/30"},
    {"employee_id": 8, "name": "Hannah Wilson", "department": "IT", "salary": "85000", "hire_date": "2021-12-20"},
]

#Trim spaces for names and department names
def clean_name(name):
    if name:
        return name.strip().title()  # Remove spaces and capitalize correctly
    return "Unknown"

def clean_department(department):
    if department:
        return department.strip().title()  # Remove spaces and capitalize correctly
    return "Unknown"

def clean_salary(salary):
    if salary:
        salary = salary.replace("$", "").replace(",", "")
        return int(salary)
    return "Unknown"


def clean_date(date_str):
    formats = ["%Y/%m/%d", "%Y-%m-%d", "%d-%m-%Y"]  # Possible date formats
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt).strftime("%Y-%m-%d")  # Convert to YYYY-MM-DD
        except ValueError:
            pass  # Try next format
    return "Unknown"  # If all fail, return "Unknown"


for record in employee_salaries:
    record["employee_id"] = record["employee_id"] if record["employee_id"] else "Unknown"
    record["name"] = clean_name(record["name"])
    record["department"] = clean_department(record["department"])
    record["salary"] = clean_salary(record["salary"])
    record["hire_date"] = clean_date(record["hire_date"])

# Print cleaned dataset
for record in employee_salaries:
    print(record)

{'employee_id': 1, 'name': 'Alice Johnson', 'department': 'Finance', 'salary': 70000, 'hire_date': '2020-05-10'}
{'employee_id': 2, 'name': 'Bob Smith', 'department': 'Hr', 'salary': 60000, 'hire_date': '2021-06-15'}
{'employee_id': 3, 'name': 'Charlie Brown', 'department': 'It', 'salary': 80500, 'hire_date': '2019-07-15'}
{'employee_id': 4, 'name': 'Daniel Lee', 'department': 'Finance', 'salary': 72000, 'hire_date': '2022-08-20'}
{'employee_id': 5, 'name': 'Eve Adams', 'department': 'It', 'salary': 90000, 'hire_date': '2020-09-05'}
{'employee_id': 6, 'name': 'Frank Miller', 'department': 'Hr', 'salary': 55000, 'hire_date': '2018-10-12'}
{'employee_id': 7, 'name': 'Grace Davis', 'department': 'Finance', 'salary': 'Unknown', 'hire_date': '2019-11-30'}
{'employee_id': 8, 'name': 'Hannah Wilson', 'department': 'It', 'salary': 85000, 'hire_date': '2021-12-20'}

In [ ]:
#With this clean data, calculate average salary per department and print the results
import statistics

department_salaries = {}  # Store salaries for each department
for record in employee_salaries:
    department = record["department"]
    salary = record["salary"]
    if salary != "Unknown":  # Exclude records with unknown salaries
        department_salaries.setdefault(department, []).append(salary)

# Calculate and print average salaries
for department, salaries in department_salaries.items():
    average_salary = statistics.mean(salaries)
    print(f"Average salary for {department}: {average_salary:.2f}")

Average salary for Finance: 71000.00
Average salary for Hr: 57500.00
Average salary for It: 85166.67

#NUMPY PACKAGE INTRO

#PANDAS PACKAGE INTRO

In [1]:
!pip install datasets

Collecting datasets
  Downloading datasets-3.3.2-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from datasets) (3.17.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.11/dist-packages (from datasets) (1.26.4)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (18.1.0)
Collecting dill<0.3.9,>=0.3.0 (from datasets)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from datasets) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.11/dist-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.11/dist-packages (from datasets) (4.67.1)
Collecting xxhash (from datasets)
  Downloading xxhash-3.5.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting multiprocess<0.70.17 (from datasets)
  Downloading multiprocess-0.70.16-py311-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: fsspec<=2024.12.0,>=2023.1.0 in /usr/local/lib/python3.11/dist-packages (from fsspec[http]<=2024.12.0,>=2023.1.0->datasets) (2024.10.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.11/dist-packages (from datasets) (3.11.13)
Requirement already satisfied: huggingface-hub>=0.24.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (0.28.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from datasets) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (2.5.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (25.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (0.3.0)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.18.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.24.0->datasets) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2025.1.31)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Downloading datasets-3.3.2-py3-none-any.whl (485 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 485.4/485.4 kB 7.0 MB/s eta 0:00:00
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 4.6 MB/s eta 0:00:00
Downloading multiprocess-0.70.16-py311-none-any.whl (143 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.5/143.5 kB 4.5 MB/s eta 0:00:00
Downloading xxhash-3.5.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.8/194.8 kB 4.0 MB/s eta 0:00:00
Installing collected packages: xxhash, dill, multiprocess, datasets
Successfully installed datasets-3.3.2 dill-0.3.8 multiprocess-0.70.16 xxhash-3.5.0

In [2]:
from datasets import load_dataset

In [4]:
dataset = load_dataset("lukebarousse/data_jobs")

In [7]:
df = dataset["train"].to_pandas()

In [8]:
df

             job_title_short  ...                                    job_type_skills
0       Senior Data Engineer  ...                                               None
1               Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2              Data Engineer  ...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3              Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4              Data Engineer  ...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...
...                      ...  ...                                                ...
785736     Software Engineer  ...  {'os': ['linux', 'unix'], 'other': ['kubernete...
785737          Data Analyst  ...  {'analyst_tools': ['sas', 'excel'], 'programmi...
785738      Business Analyst  ...         {'analyst_tools': ['powerpoint', 'excel']}
785739         Data Engineer  ...  {'cloud': ['aws', 'snowflake', 'azure', 'redsh...
785740     Software Engineer  ...              {'cloud': ['aws'], 'other': ['flow']}

[785741 rows x 17 columns]

In [9]:
import pandas as pd
from datasets import load_dataset

df = dataset["train"].to_pandas()

In [10]:
df.head()

        job_title_short  ...                                    job_type_skills
0  Senior Data Engineer  ...                                               None
1          Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2         Data Engineer  ...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3         Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4         Data Engineer  ...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...

[5 rows x 17 columns]

In [11]:
df[["job_title_short", "job_location"]]

             job_title_short                         job_location
0       Senior Data Engineer                        Watertown, CT
1               Data Analyst         Guadalajara, Jalisco, Mexico
2              Data Engineer                      Berlin, Germany
3              Data Engineer                      San Antonio, TX
4              Data Engineer                       Washington, DC
...                      ...                                  ...
785736     Software Engineer                            Singapura
785737          Data Analyst                   Bad Rodach, Jerman
785738      Business Analyst                             Malaysia
785739         Data Engineer  Newark, New Jersey, Amerika Serikat
785740     Software Engineer                                India

[785741 rows x 2 columns]

No charts were generated by quickchart

In [13]:
df.iloc[90:100, 0:2]
#Displays obsevations 90 trhough 99 on columns 1 and 2

         job_title_short                                          job_title
90        Data Scientist                                     Data Scientist
91        Data Scientist                                     Data Scientist
92         Data Engineer            Remote - Data Engineer - Permanent - W2
93          Data Analyst       IT Finance / TBM Data Analyst - Remote | WFH
94         Data Engineer                   Data Engineer - Cloud Operations
95         Data Engineer                                      Data Engineer
96         Data Engineer                                      Data Engineer
97          Data Analyst  Systems & Data Analyst - Exploitation, Missing...
98  Senior Data Engineer                         Senior Data Engineer (AWS)
99         Data Engineer  Senior/Staff Data Engineer – Apache Spark (Jav...

In [14]:
df.describe()

       salary_year_avg  salary_hour_avg
count     22003.000000     10662.000000
mean     123286.274072        47.016598
std       48312.449482        21.890738
min       15000.000000         8.000000
25%       90000.000000        27.500000
50%      115000.000000        45.980000
75%      150000.000000        61.159996
max      960000.000000       391.000000

In [17]:
df[(df.job_title_short == "Data Analyst") & (df.salary_year_avg > 100000)]

#Filters data frame for data analyst jobs with salary over 100k

       job_title_short  ...                                    job_type_skills
410       Data Analyst  ...  {'analyst_tools': ['word', 'excel', 'visio', '...
1555      Data Analyst  ...  {'cloud': ['databricks'], 'libraries': ['spark']}
1681      Data Analyst  ...  {'analyst_tools': ['tableau', 'power bi', 'exc...
1684      Data Analyst  ...  {'cloud': ['azure', 'databricks'], 'os': ['lin...
1867      Data Analyst  ...  {'programming': ['php', 'python'], 'webframewo...
...                ...  ...                                                ...
783588    Data Analyst  ...  {'analyst_tools': ['excel'], 'libraries': ['ha...
783866    Data Analyst  ...                                   {'os': ['unix']}
784033    Data Analyst  ...         {'analyst_tools': ['power bi', 'tableau']}
785187    Data Analyst  ...  {'analyst_tools': ['looker'], 'programming': [...
785515    Data Analyst  ...                                               None

[1976 rows x 17 columns]

#Pandas Chatgpt exploring the data_jobs dataset

In [18]:
print(df.isnull().sum())
#Prints count of missing values in each column

job_title_short               0
job_title                     1
job_location               1045
job_via                       8
job_schedule_type         12667
job_work_from_home            0
search_location               0
job_posted_date               0
job_no_degree_mention         0
job_health_insurance          0
job_country                  49
salary_rate              752674
salary_year_avg          763738
salary_hour_avg          775079
company_name                 18
job_skills               117037
job_type_skills          117037
dtype: int64

In [20]:
print(df["job_title"].value_counts().head(10))
#Prints 10 most common jobs

job_title
Data Engineer                53908
Data Scientist               42542
Data Analyst                 41950
Senior Data Engineer         20217
Senior Data Scientist        13335
Senior Data Analyst           8209
Lead Data Engineer            3914
Lead Data Scientist           3322
Azure Data Engineer           3307
Machine Learning Engineer     3097
Name: count, dtype: int64

#Pandas intro forts..

In [5]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()
type(df.job_posted_date[0])
#date is string

/usr/local/lib/python3.11/dist-packages/huggingface_hub/utils/_auth.py:94: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

str

In [8]:
df["job_posted_date"] = pd.to_datetime(df.job_posted_date)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [11]:
df["job_posted_month"] = df.job_posted_date.dt.month
#creates new column in dataframe based on which month job posted

In [14]:
df.head(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None,6
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr...",1
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],...",10
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',...",7
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl...",8

In [18]:
df.sort_values(by="job_posted_date", inplace=True)

In [17]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
108804,Data Analyst,Data Analyst,"New York, NY",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:04,False,False,United States,None,NaN,NaN,Metasys Technologies,"['sql', 'snowflake', 'visio', 'jira', 'conflue...","{'analyst_tools': ['visio'], 'async': ['jira',...",1
96906,Data Analyst,Data Analyst,"Bloomfield, CT",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:07,True,False,United States,None,NaN,NaN,Diverse Lynx,"['sql', 'sas', 'sas']","{'analyst_tools': ['sas'], 'programming': ['sq...",1
98438,Data Analyst,Data Analyst,"Washington, DC",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:22,False,True,United States,None,NaN,NaN,Guidehouse,"['sql', 'python', 'r', 'azure', 'snowflake', '...","{'analyst_tools': ['tableau', 'excel'], 'cloud...",1
110290,Data Analyst,Data Analyst,"Fairfax, VA",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:24,False,False,United States,None,NaN,NaN,Protask,"['sql', 'jira']","{'async': ['jira'], 'programming': ['sql']}",1
72158,Senior Data Analyst,Senior Data Analyst / Platform Experience,"Worcester, MA",via LinkedIn,Full-time,False,"New York, United States",2023-01-01 00:00:27,False,True,United States,None,NaN,NaN,Atria Wealth Solutions,"['sql', 'atlassian', 'jira']","{'async': ['jira'], 'other': ['atlassian'], 'p...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362129,Data Engineer,Data engineer,"Sunnyvale, CA",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:31,True,False,Sudan,None,NaN,NaN,ITCO Solutions,"['sql', 'python', 'java', 'snowflake', 'airflo...","{'cloud': ['snowflake'], 'libraries': ['airflo...",12
351830,Data Engineer,Data engineer,"San Francisco, CA",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:31,False,False,Sudan,None,NaN,NaN,JBL Resources,"['azure', 'power bi', 'word']","{'analyst_tools': ['power bi', 'word'], 'cloud...",12
327439,Data Engineer,Staff engineer data,"Southfield, MI",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:32,False,False,Sudan,year,140000.0,NaN,Credit Acceptance,"['express', 'kubernetes']","{'other': ['kubernetes'], 'webframeworks': ['e...",12
112373,Senior Data Analyst,Marketing Data & Analytics Product Owner - Sen...,"Boston, MA (+1 other)",via Boston Consulting Group,Full-time,False,"New York, United States",2023-12-31 23:59:58,False,False,United States,None,NaN,NaN,Boston Consulting Group,"['sql', 'python', 'r', 'gdpr', 'tableau', 'pow...","{'analyst_tools': ['tableau', 'power bi'], 'li...",12
90102,Machine Learning Engineer,Intelligence analyst,"Boston, MA",via Talent.com,Full-time,False,"New York, United States",2023-12-31 23:59:58,True,False,United States,None,NaN,NaN,VirtualVocations,None,None,12

In [22]:
df.drop(labels = "salary_hour_avg", axis=1, inplace=True)
#Remove hour column

In [23]:
df.dropna(subset=["salary_year_avg"], inplace=True)
#drops rows with missing values for salary year

In [24]:
df["salary_year_avg"].median()

115000.0

In [25]:
df["salary_year_avg"].min()
#We note that 15000 is really low, error perhaps?

15000.0

In [30]:
df.groupby("job_title_short")["salary_year_avg"].median()
#Gets median salary for each job title

job_title_short
Business Analyst              85000.0
Cloud Engineer                90000.0
Data Analyst                  90000.0
Data Engineer                125000.0
Data Scientist               127500.0
Machine Learning Engineer    106415.0
Senior Data Analyst          111175.0
Senior Data Engineer         147500.0
Senior Data Scientist        155500.0
Software Engineer             99150.0
Name: salary_year_avg, dtype: float64

In [32]:
df.groupby(["job_title_short", "job_country"])["salary_year_avg"].median()

job_title_short    job_country
Business Analyst   Argentina                71100.0
                   Australia                70000.0
                   Bangladesh               16500.0
                   Belgium                  89100.0
                   Bulgaria                 71925.0
                                             ...
Software Engineer  Ukraine                  54000.0
                   United Arab Emirates     79200.0
                   United Kingdom           89100.0
                   United States           130000.0
                   Vietnam                  53600.0
Name: salary_year_avg, Length: 598, dtype: float64

In [34]:
df.groupby("job_title_short")["salary_year_avg"].agg(["min", "max", "median"])
#prints min max and median yearly salary for each job title

                               min       max    median
job_title_short
Business Analyst           16500.0  387460.0   85000.0
Cloud Engineer             42000.0  280000.0   90000.0
Data Analyst               25000.0  650000.0   90000.0
Data Engineer              15000.0  525000.0  125000.0
Data Scientist             27000.0  960000.0  127500.0
Machine Learning Engineer  30000.0  325000.0  106415.0
Senior Data Analyst        30000.0  425000.0  111175.0
Senior Data Engineer       35000.0  425000.0  147500.0
Senior Data Scientist      45000.0  890000.0  155500.0
Software Engineer          28000.0  375000.0   99150.0